In [26]:
#Dependencies and file import/read
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

mouse_data = pd.read_csv('/Users/kscomputer/Desktop/Matplotlib-Challenge/Resources/Mouse_metadata.csv')
study_data = pd.read_csv('/Users/kscomputer/Desktop/Matplotlib-Challenge/Resources/Study_results.csv')

In [3]:
mouse_data

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [4]:
study_data

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [5]:
#merge into one dataset on mouseID and how 'outer'
merged = pd.merge(mouse_data,study_data, on='Mouse ID', how='outer')
merged

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [6]:
#check # of mice with unique on Mouse ID done to make sure all mouse data carried over
count = merged['Mouse ID'].value_counts()
count

g989    13
g570    10
i557    10
i738    10
c758    10
        ..
n482     1
u153     1
b447     1
f932     1
h428     1
Name: Mouse ID, Length: 249, dtype: int64

In [12]:
#next get rid of duplicate data
mouse_drop = merged.drop_duplicates(subset='Mouse ID')
mouse_drop.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0

In [11]:
#check count of mouse_drop to make sure all mice are present
count_drop = mouse_drop['Mouse ID'].value_counts()
count_drop

g570    1
f966    1
r157    1
g497    1
g316    1
       ..
o725    1
c757    1
w193    1
l490    1
x822    1
Name: Mouse ID, Length: 249, dtype: int64

In [19]:
# Generate a summary statistics table of mean, median, variance, standard deviation 
# and SEM of the tumor volume for each regimen
ram_groupby = mouse_drop.groupby('Drug Regimen')

In [27]:
drug_mean = ram_groupby.mean()
drug_mean
drug_median = ram_groupby.median()
drug_median
#drug_var

,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Drug Regimen,,,,,
Capomulin,17,21,0,45.0,0
Ceftamin,12,28,0,45.0,0
Infubinol,19,27,0,45.0,0
Ketapril,17,29,0,45.0,0
Naftisol,12,27,0,45.0,0
Placebo,10,28,0,45.0,0
Propriva,7,27,0,45.0,0
Ramicane,9,19,0,45.0,0
Stelasyn,14,28,0,45.0,0
Zoniferol,12,28,0,45.0,0